<html>
  <head>
    <%= stylesheet_link_tag 'advanced_selectors.css' %>
  </head>
  <body id="target">
    <div class="neato" id="hey-hey">
      <p lang="fr">First</p>
      <p lang="de en" class="bold">Second</p>
      <p id="third">Third</p>
      <a>I'm a thing.</a>
      <a href="#">I'm a different thing.</a>
    </div>
    <div></div>
    <input checked="checked" name="do_thing" type="checkbox" value="1" /> Do a thing?
  </body>
</html>
